.summary{
  display: flex;
  flex-direction: column;
  width: 375px;
  padding: 16px;

  & h2{
    margin: 0;
    font-size: 18px;
    color: var(--Violet-blue);
  }

  & ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    & li{
      width: 100%;
      border-radius: 8px;
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;

      & .category{
        display: flex;
        align-items: center;
        gap: 8px;
      }

      & div > span{
        color: var(--Light-lavender);
      }
    }

    & li:nth-child(1){
      color: var(--Light-red);
      background-color: hsla(0, 100%, 67%, 0.1);
    }
    & li:nth-child(2){
      color: var(--Orangey-yellow);
      background-color: hsla(39, 100%, 56%, 0.1);
    }
    & li:nth-child(3){
      color: var(--Green-teal);
      background-color: hsla(166, 100%, 37%, 0.1);
    }
    & li:nth-child(4){
      color: var(--Cobalt-blue);
      background-color: hsla(234, 85%, 45%, 0.1);
    }
  }

  & button{
    width: 100%;
    padding: 18px 0;
    background-color: var(--Dark-gray-blue);
    border: none;
    border-radius: 30px;
    color: var(--White);
    font-size: 18px;
    font-weight: 700;
  }

  & button:hover{
    background: linear-gradient( var(--Light-slate-blue), var(--Light-royal-blue));
  }
}

@media screen and (width > 430px){
  .summary{
    height: 100%;
    margin: 0;
    padding: 0px 32px;
    justify-content: space-around;

    & h2{
      font-size: 24px;
    }

    & ul{
      row-gap: 16px;
      margin: 0;
    }

    & button{
      font-size: 20px;
      font-weight:500;
    }
  }
}